
@{
    ViewData["Title"] = "Contato";
}

<h1>Contato</h1>



<input                                  type="text" name="nome" minlenght="4" maxlength="32" placeholder="Nome"/>
<input id="email"                       type="text" name="email" minlenght="10" maxlenght="64" placeholder="E-mail" oninput="this.value = this.value.toLowerCase()" />
<input id="phone" type="text" name="phone" minlenght="10" maxlength="15" placeholder="Telefone" onkeypress="$(this).mask('(00) 0000-00009')" />
<textarea name="textarea" class="" cols="40" rows="10" maxlength="640" placeholder="Mensagem"></textarea>