html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.headerContainer {
    width: 75%;
}

.navHeader {
    position: relative;
    height: 100px;
}

h1 {
    margin-bottom: 20px;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input.text, input.title, textarea, select {
    padding: 20px !important;
    border: none;
    color: #fff !important;
    background-color: #333;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px !important;
    border-radius: 3px;
    max-height: 150px;
}

#phone {

}

#email {
 
}